* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sweet Alert Success Notif after Adding the Product on Cart */
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

/* Navbar Start */
.navbar {
  background-color: #a6a997;
  position: relative;
  align-items: center;
  position: sticky;
  /* margin-left: 2px; */
}

.navbar-text {
  color: #fff !important;
  margin-left: 30px;
}
/* Navbar End */

/* Hero Banner Start */
.hero {
}

/* Hero Banner End */
